#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/dpkg/architecture.mk

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

execute_after_dh_auto_clean:
	rm -rf dist

override_dh_auto_build:
	cargo run -p xtask --manifest-path $(CURDIR)/Cargo.toml -- stage-dist --multiarch $(DEB_HOST_MULTIARCH)

override_dh_auto_install:
	rm -rf debian/tmp
	mkdir -p debian/tmp
	cp -a dist/. debian/tmp/
